
.form__input {
  color: #333;
  font-size:13px;
  margin:3px;
  padding:3px;
  border-radius: 0.2rem;
  background-color: white;
  border: 1px solid black;  
  display: block;
  transition: all 0.3s;
  width:110px;
  height:25px;
}
